<form action="{{infoForEdit.id}}" method="POST">
    <input type="text" value="{{infoForEdit.user_ID}}" name="user_ID" placeholder="Title" autofocus>
    <input type="text" value="{{infoForEdit.cliente}}" name="cliente" placeholder="Title">
    <input type="text" value="{{infoForEdit.orden}}" name="orden" placeholder="Title">
    <input type="text" value="{{infoForEdit.driver}}" name="driver" placeholder="Title">
    <input type="text" value="{{infoForEdit.total}}" name="total" placeholder="Title">
    <input type="text" value="{{infoForEdit.estado}}" name="estado" placeholder="Title">
    <button>Enviar</button>

</form>